extends layout

block scripts
  script(src='/javascripts/client.js')

block content
  h1= title
  p Welcome to #{title}
  p User #{uid}

  div#message
  form#sendMessage
    input#msg(type='text')
    button Submit
