doctype html
html
  head
    title= title
    script(src='/jquery.min.js')
    script(src='/socket.io.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
  body
    block content
